#!/bin/bash

su postgres -c "psql --command \"CREATE USER cmsuser WITH PASSWORD '__CMSPASS__';\""
su postgres -c "createdb --username=postgres --owner=cmsuser cmsdb"
su postgres -c "psql --username=postgres --dbname=cmsdb --command='ALTER SCHEMA public OWNER TO cmsuser'"
su postgres -c "psql --username=postgres --dbname=cmsdb --command='GRANT SELECT ON pg_largeobject TO cmsuser'"
